@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: Melinda Chirila
   Date:   10/25/2018
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */

div.row {
    width: 100%;
    clear: both;
}


div.row::after {
    display: table;
    content: "";
    clear: both;
}

div[class ^=column] {
    float: left;
}
/* Grid Columns Styles */
/*  column 100s width is set to 100% */
div.column100 {
    width: 100%;

}

/* column 50s width is set to 50% */
div.column50 {
    width: 50%;

}

/* column 33s width is set to 33% */

div.column33 {
    width: 33%;

}


/* column 67s width is set to 67% */
div.column67 {
    width: 67%;

}

/*  column 25s width is set to 25% */
div.column25 {
    width: 25%;

}

/* column 75s width is set to 75% */
div.column75 {
    width: 75%;

}

/* column 20s width is set to 20% */
div.column20 {
    width: 20%;

}

/* column 40s width is set to 40% */
div.column40 {
    width: 40%;

}

/* column 60s width is set to 60% */
div.column60 {
    width: 60%;

}

/*  Column 80s width is set to 80% */
div.column80 {
    width: 80%;

}

/* Grid Spacing Styles */
/*  */
div.container,
div.row 
div.column,
div.cell,
div.cell>a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}